@model NetworkMonitor.Models.Devices

@{
    ViewBag.Title = "Edit Device";
    Layout = "~/Views/Shared/_UserHome.cshtml";
}

<div class="row justify-content-md-center">
    
    <div class="col-md-7">
        <div class="border p-4">
            <h1 class="item">Edit</h1>
            <h5 class="item">Devices</h5>
            <br />
            <h6 class="text-danger">@ViewBag.message</h6>
            <form method="post" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Device Name</label>
                    <input asp-for="Name" class="form-control input-group-lg" placeholder="Device name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">IP Version</label>
                    <input class="form-control input-group-lg" value="IPv4" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Ip_Address" class="control-label">IP Address</label>
                    <input asp-for="Ip_Address" class="form-control input-group-lg" placeholder="IP Address" />
                    <span asp-validation-for="Ip_Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Community" class="control-label"></label>
                    <input asp-for="Community" class="form-control input-group-lg" placeholder="Enter community of device" />
                    <span asp-validation-for="Community" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label class="control-label">SNMP Version</label>
                    <input class="form-control input-group-lg" value="v2c" disabled />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Port Number</label>
                    <input class="form-control input-group-lg" value="161" disabled />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <select class="form-control" asp-for="Category">
                        <option class="form-control">---Choose a category of device</option>
                        <option class="form-control">Cisco</option>
                        <option class="form-control">Window</option>
                        <option class="form-control">Linux</option>
                    </select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control input-group-lg" placeholder="Enter your email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <input type="submit" value="Update" class="btn btn-info w-100" />
                    </div>
                    <div class="col-6 form-group">
                        <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                    </div>
                </div>
            </form>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>



