@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="greeting">Welcome To Thuy Monitor! <i class="far fa-grin-hearts"></i></h1>
    <br />
    
    <br />
    <div class="text-center">
        <a asp-controller="Users" asp-action="Register" class="btn btn-primary btn-lg">
            Register Now <i class="far fa-arrow-alt-circle-right"></i>
        </a>
    </div>
    <br /><br /><br />


